/* Começo da Section sobre */

.section {
  padding: 120px 60px 100px 60px;
  background: #121212;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  z-index: 1;
  pointer-events: auto;
  flex-wrap: wrap;
}

.card {
  width: 800px;
  padding: 20px 50px;
  background: #07182e;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 6px;
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 130%;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  animation: rotBGimg 3s linear infinite;
}

.card::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #121212;
  border-radius: 15px;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card .container {
  position: relative;
  z-index: 1;
  color: white;
  text-align: left;
}

.card h1 {
  font-size: 3rem;
  color: #00ccff;
  margin-bottom: 20px;
  text-align: center;
}

.card p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-indent: 30px;
  margin-bottom: 15px;
}

.about-gif {
  width: 400px;
  height: auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
}

/* Fim da Section */
